<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-nav-item-dropdown
    class="locale-switcher"
    right
  >
    <template #button-content>
      <lang-flag
        :iso="currentLanguageLabel"
        :squared="false"
      />
    </template>
    <template v-for="entry in supportedLocales">
      <b-dropdown-item
        @click="setLocale(entry.code)"
        :key="entry.code"
      >
        <lang-flag
          :iso="entry.code"
          :squared="false"
        />
        {{ entry.name }}
      </b-dropdown-item>
    </template>
  </b-nav-item-dropdown>
</template>

<script>

import { getSupportedLocales } from '@/i18n-support/supported-locales'
import LangFlag from 'vue-lang-code-flags'

export default {
  name: 'LocationSwitcher',
  components: {
    LangFlag
  },
  data () {
    return {
      supportedLocales: []
    }
  },
  mounted () {
    this.supportedLocales = getSupportedLocales()
  },
  computed: {
    currentLanguageLabel () {
      return this.$i18n.locale
    }
  },
  methods: {
    setLocale (locale) {
      this.$i18n.locale = locale
    }
  }
}
</script>
