<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-button
    class="mx-2"
    variant="danger"
    v-b-modal.modal-poweroff
  >
    <b-icon
      icon="power"
      :aria-label="$t('actions.poweroff.title')"
    />
    {{ $t("actions.poweroff.title") }}
    <b-modal
      id="modal-poweroff"
      :title="$t('actions.poweroff.title')"
      @ok="powerOff"
      :ok-title="$t('actions.poweroff.ok-title')"
      ok-variant="danger"
      :cancel-title="$t('actions.poweroff.cancel-title')"
    >
      <p>
        {{ $t("actions.poweroff.message") }}
      </p>
      <b-alert
        variant="danger"
        show
      >
        {{ $t("actions.poweroff.warning") }}
      </b-alert>
    </b-modal>
  </b-button>
</template>

<script>
import systemService from '@/services/system.service'

export default {
  name: 'PowerOffButton',
  methods: {
    powerOff () {
      systemService.actionPowerOff()
    }
  }
}
</script>

<style>
</style>
