<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-button
    id="start-stream"
    variant="success"
    :disabled="buttonDisabled"
    @click="startStream"
  >
    <b-icon icon="play-fill" />
    {{ $t("stream-controls.start-button.label") }}
  </b-button>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'StartStreamingButton',
  mounted () {
    this.setServerStatus()
  },
  computed: {
    buttonDisabled () {
      return this.isPlayingStream
    },
    isPlayingStream () {
      if (this.serverStatus === 4) {
        return true
      }
      if (this.serverStatus === 5) {
        return true
      }
      return false
    },
    ...mapGetters({
      serverStatus: 'Config/serverStatus'
    })
  },
  methods: {
    ...mapActions('Config', [
      'startStream',
      'setServerStatus'
    ])
  }
}
</script>
