<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-button
    id="receive-stream"
    variant="info"
    v-b-modal.modal-receive
    :disabled="buttonDisabled"
  >
    <b-icon icon="tv-fill" />
    {{ $t("stream-controls.receive-button.label") }}
    <b-modal
      id="modal-receive"
      size="sm"
      :title="$t('stream-controls.receive-button.modal-receive.title')"
      @ok="receiveStream"
      :ok-title="$t('stream-controls.receive-button.modal-receive.ok-title')"
      ok-variant="success"
      :cancel-title="
        $t('stream-controls.receive-button.modal-receive.cancel-title')
      "
    >
      <p>
        {{ $t("stream-controls.receive-button.modal-receive.message") }}
      </p>
    </b-modal>
  </b-button>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'StartReceiveButton',
  mounted () {
    this.setServerStatus()
  },
  computed: {
    buttonDisabled () {
      return this.isPlayingStream
    },
    isPlayingStream () {
      if (this.serverStatus === 4) {
        return true
      }
      if (this.serverStatus === 5) {
        return true
      }
      return false
    },
    ...mapGetters({
      serverStatus: 'Config/serverStatus'
    })
  },
  methods: {
    ...mapActions('Config', [
      'receiveStream',
      'setServerStatus'
    ])
  }
}
</script>
