<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-button-toolbar
    key-nav
    class="my-3"
  >
    <b-button-group>
      <start-streaming-button />
      <stop-transmission-button />
    </b-button-group>
  </b-button-toolbar>
</template>

<script>
import StartStreamingButton from '@/components/actions/StartStreamingButton'
import StopTransmissionButton from '@/components/actions/StopTransmissionButton'

export default {
  name: 'StreamingControls',
  components: {
    StartStreamingButton, StopTransmissionButton
  }
}
</script>
