<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-badge v-if="bitrate">
    {{ bitrate }}
  </b-badge>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'BitrateLabel',
  computed: {
    ...mapGetters({
      bitrate: 'Streaming/bitrate'
    })
  }
}
</script>
