<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <span v-if="serverStatus">
    <b-badge v-if="serverStatus === 1">
      <b-icon
        icon="stop-fill"
        size="is-small"
      />
      keine Übertragung
    </b-badge>
    <b-badge v-else-if="serverStatus === 2">
      <b-icon
        icon="play"
        size="is-small"
      />
      Bereit zur Übertragung
    </b-badge>
    <b-badge v-else-if="serverStatus === 3">
      <b-icon
        icon="pause-fill"
        size="is-small"
      />
      Übertragung pausiert
    </b-badge>
    <b-badge
      v-else-if="serverStatus === 4"
      variant="success"
    >
      <b-icon
        icon="camera-video-fill"
        size="is-small"
      />
      Übertragung läuft
    </b-badge>
    <b-badge
      v-else-if="serverStatus === 5"
      variant="warning"
    >
      <b-icon
        icon="exclamation-circle-fill"
        size="is-small"
      />
      Serverfehler
    </b-badge>
    <span v-else> Unbekannter Streaming Status: {{ serverStatus }} </span>
  </span>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'ServerStatusLabel',
  computed: {
    ...mapGetters({
      serverStatus: 'Config/serverStatus'
    })
  }
}
</script>

<style>
</style>
