<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <div id="stream">
    <video-preview />
  </div>
</template>

<script>
import VideoPreview from './VideoPreview.vue'

export default {
  name: 'Stream',
  components: { VideoPreview }

}
</script>

<style>

</style>
