<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <div class="video-preview">
    <div
      v-if="showPreview"
      class="bg-dark rounded embed-responsive embed-responsive-16by9"
    >
      <video
        :srcObject.prop="stream"
        ref="remote-video"
        allowfullscreen
        autoplay
        playsinline
        muted
        style="pointer-events: none;"
      />
      <b-row>
        <b-col>
          <span class="d-none d-sm-inline">Bitrate:</span>
          <bitrate-label />
        </b-col>
        <b-col>
          <span class="d-none d-sm-inline">Auflösung:</span>
          <resolution-label />
        </b-col>
      </b-row>
    </div>
    <div
      v-else
      class="bg-dark rounded embed-responsive embed-responsive-16by9"
    >
      <div class="d-flex justify-content-center align-self-center">
        <b-badge variant="info">
          {{ $t('video-preview.no-transmission') }}
        </b-badge>
      </div>
    </div>
    <b-select
      id="debug-stream-selector"
      v-if="debug"
      v-model="streamList.selected"
    >
      <option
        v-for="option in streamList.options"
        :value="option.id"
        :key="option.id"
      >
        {{ option.description }}
      </option>
    </b-select>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { Janus } from 'janus-gateway'
import janusService from '@/services/janus.service'
import BitrateLabel from '@/components/stream/BitrateLabel.vue'
import ResolutionLabel from '@/components/stream/ResolutionLabel.vue'

export default {
  name: 'VideoPreview',
  components: {
    BitrateLabel,
    ResolutionLabel
  },
  data () {
    return {
      debug: false, // process.env.NODE_ENV !== 'production',
      janus: null,
      plugin: null,
      opaqueId: `streamingtest-${Janus.randomString(12)}`,
      stream: null,
      status: null,
      streamList: {
        selected: null,
        options: []
      },
      metricTimer: null
    }
  },
  computed: {
    ...mapGetters({
      serverStatus: 'Config/serverStatus'
    }),
    showPreview () {
      return (this.serverStatus > 2 && this.serverStatus < 5)
    }
  },
  mounted () {
    Janus.init({
      debug: this.debug,
      dependencies: Janus.useDefaultDependencies(),
      callback: () => {
        this.connect()
      }
    })
  },

  methods: {
    connect () {
      if (!Janus.isWebrtcSupported()) {
        Janus.log('No WebRTC support... ')
      }
      this.janus = new Janus({
        server: janusService.getServer(),
        iceServers: [{
          urls: janusService.getStunServer()
        }],
        success: () => {
          this.attachPlugin()
        },
        error: (error) => {
          this.onError('Failed to connect to janus server', error)
        },
        destroyed: () => {
          window.location.reload()
        }
      })
    },
    attachPlugin () {
      this.janus.attach({
        plugin: 'janus.plugin.streaming',
        opaqueId: this.opaqueId,
        success: (pluginHandle) => {
          this.plugin = pluginHandle
          Janus.log(`Plugin attached: ${this.plugin.getPlugin()}, id="${this.plugin.getId()}"`)

          this.updateStreamsList()

          setTimeout(() => {
            this.start()
          }, 1000)
        },
        error: (error) => {
          this.onError('Error attaching plugin... ', error)
        },
        iceState: function (state) {
          console.log('::: ICE state changed to ' + state)
        },
        webrtcState: function (on) {
          console.log('::: Janus says our WebRTC PeerConnection is ' + (on ? 'up' : 'down') + ' now')
        },
        onmessage: (msg, jsep) => {
          Janus.debug('::: Got a message :::')
          Janus.debug(msg)
          if (msg && msg.error) {
            this.onError(msg.error)
          } else if (msg && msg.result) {
            const result = msg.result
            if (result.status) {
              this.status = result.status
            }

            if (msg.streaming === 'event') {
              Janus.debug('simulcast in place')
              // Is simulcast in place?
              const substream = result.substream
              const temporal = result.temporal
              if (substream && temporal) {

              }
            }
          }

          if (jsep) {
            Janus.debug('Handling SDP as well...', jsep)
            // Offer from the plugin, let's answer
            this.plugin.createAnswer({
              jsep: jsep,
              // We want recvonly audio/video and, if negotiated, datachannels
              media: { audioSend: false, videoSend: false, data: false },
              success: (jsep) => {
                Janus.debug('Got SDP!')
                Janus.debug(jsep)
                const body = { request: 'start' }
                this.plugin.send({ message: body, jsep: jsep })
              },
              error: (error) => {
                this.onError('WebRTC error:', error)
              }
            })
          }
        },
        onremotestream: (stream) => {
          Janus.log('::: Got a remote stream :::')
          Janus.debug(stream)
          // Janus.attachMediaStream($('#remotevideo').get(0), stream);
          this.stream = stream
          this.initMetricTimer(stream)
        },
        ondataopen: (data) => {
          Janus.log(`::: The DataChannel is available: ${data}`)
        },
        ondata: (data) => {
          Janus.log(`::: We got data from the DataChannel: ${data}`)
        },
        oncleanup: () => {
          Janus.log('::: Got a cleanup notification :::')
          this.onCleanup()
        }
      })
    },
    updateStreamsList () {
      this.plugin.send({
        message: { request: 'list' },
        success: (result) => {
          if (!result) {
            this.onError('Got no response to our query for available streams')
          } else {
            Janus.log('Got a list of available streams')
            Janus.debug(result.list)
            this.streamList.options = result.list
            if (result.list.length) {
              this.streamList.selected = this.streamList.options[0].id
            }
          }
        }
      })
    },
    start () {
      Janus.log(`::: Start watching selected video id #${this.streamList.selected}`)
      this.plugin.send({
        message: {
          request: 'watch',
          id: parseInt(this.streamList.selected)
        },
        success: (result) => {
          Janus.debug('    start sucessfully sent')
        }
      })
    },
    stop () {
      this.plugin.send({
        message: { request: 'stop' },
        success: (result) => {
          Janus.debug('    stop sucessfully sent')
        }
      })
      this.plugin.hangup()
      this.onCleanup()
    },
    onCleanup () {
      this.stream = null
      this.status = null
      // stop metric timer
      if (this.metricTimer) {
        clearInterval(this.metricTimer)
        this.metricTimer = null
      }
    },
    onError (message, error = '') {
      Janus.error(message, error)
      console.error({ message: message, error: error })
      this.$bvToast.toast(message, {
        title: 'Server-Fehler',
        variant: 'danger'
      })
      setTimeout(() => {
        window.location.reload()
      }, 3000)
    },
    initMetricTimer (stream) {
      const videoTracks = stream.getVideoTracks()
      if (videoTracks && videoTracks.length) {
        this.metricTimer = setInterval(() => {
          // updated bitrate
          this.setBitrate(this.plugin.getBitrate())
          // Check if the resolution changed too
          if (this.$refs['remote-video']) {
            const width = this.$refs['remote-video'].videoWidth
            const height = this.$refs['remote-video'].videoHeight
            if (width > 0 && height > 0) {
              this.setResolution({ x: width, y: height })
            }
          }
        }, 1000)
      }
    },
    ...mapActions('Streaming', [
      'setStreamingState',
      'setBitrate',
      'setResolution',
      'setStreamingError'
    ])
  },
  watch: {
    status (newVal) {
      this.setStreamingState(newVal)
    },
    error (newVal) {
      this.setStreamingError(newVal)
    }
  }
}
</script>
<style scoped>
.video-preview {
  max-width: 1280px;
  max-height: 720px;
}
</style>
