<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-row class="mb-3">
    <b-col
      cols="4"
      sm="3"
      class="px-1"
    >
      <b-input-group>
        <b-input-group-prepend>
          <b-button
            @click="selectTemplate(index)"
            variant="outline-primary"
            size="sm"
            :title="$t('overlay.hymn-overlay-templates.action.select.title')"
          >
            <b-icon icon="check" />
          </b-button>
        </b-input-group-prepend>
        <b-form-input
          readonly
          :value="hymn"
          size="sm"
        />
      </b-input-group>
    </b-col>
    <b-col
      cols="8"
      sm="9"
      class="px-1"
    >
      <b-input-group>
        <b-form-input
          readonly
          :value="strophe"
          size="sm"
        />
        <b-input-group-append>
          <b-button
            @click="removeTemplate(index)"
            variant="outline-danger"
            size="sm"
            :title="$t('overlay.hymn-overlay-templates.action.remove.title')"
          >
            <b-icon icon="bookmark-dash" />
          </b-button>
        </b-input-group-append>
      </b-input-group>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'HymnOverlayTemplates',
  props: {
    hymn: {
      type: String,
      required: true
    },
    strophe: {
      type: String,
      default: null
    },
    index: {
      type: Number,
      required: true
    }
  },
  methods: {
    selectTemplate (index) {
      this.$emit('selectTemplate', index)
    },
    removeTemplate (index) {
      this.$emit('removeTemplate', index)
    }
  }
}
</script>
