<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <div
    id="image-overlay"
    class="overlay-card"
  >
    <b-overlay
      :show="inProgress"
      rounded="sm"
    >
      <b-row class="mt-3">
        <b-col class="p-1">
          <b-button
            :disabled="inProgress"
            @click="clearOverlay"
          >
            {{ $t("overlay.fadeout-button.text") }}
          </b-button>
        </b-col>
      </b-row>
      <b-row class="mt-3">
        <b-col
          cols="6"
          sm="4"
          md="4"
          class="p-1"
          v-for="image in imageList"
          :key="image.name"
        >
          <image-overlay-templates
            :image="image"
            @select="setOverlayImage"
            @remove="deleteOverlayImage"
          />
        </b-col>
        <b-col
          cols="6"
          sm="4"
          md="4"
          class="p-1"
        >
          <image-overlay-add
            @startProgress="startProgress()"
            @uploaded="newImageUploaded()"
          />
        </b-col>
      </b-row>
    </b-overlay>
  </div>
</template>

<script>
import overlayService from '@/services/overlay.service'
import ImageOverlayTemplates from '@/components/overlays/ImageOverlayTemplates.vue'
import ImageOverlayAdd from '@/components/overlays//ImageOverlayAdd.vue'

export default {
  name: 'ImageOverlay',
  components: { ImageOverlayTemplates, ImageOverlayAdd },
  data () {
    return {
      imageList: [],
      inProgress: false
    }
  },
  mounted () {
    this.loadOverlayImages()
  },
  methods: {
    loadOverlayImages () {
      this.inProgress = true
      overlayService.getImagesList()
        .then(result => {
          this.imageList = result
          this.inProgress = false
        })
    },
    addImage () {
      this.inProgress = true
      overlayService.addNewOverlayImage(this.newImage)
        .then(result => {
          this.progressDelay()
          this.loadOverlayImages()
        })
    },
    deleteOverlayImage (image) {
      this.inProgress = true
      overlayService.deleteOverlayImage(image.filename)
        .then(result => {
          this.progressDelay()
          this.loadOverlayImages()
        })
    },
    setOverlayImage (image) {
      this.inProgress = true
      overlayService.setImageOverlay(image.filename)
        .then(result => {
          this.progressDelay()
        })
    },
    clearOverlay () {
      this.inProgress = true
      overlayService.clearOverlayImage()
        .then(result => {
          this.progressDelay()
        })
    },
    newImageUploaded () {
      this.inProgress = true
      this.loadOverlayImages()
    },
    startProgress () {
      this.inProgress = true
    },
    stopProgress () {
      this.inProgress = false
    },
    progressDelay () {
      setTimeout(() => {
        this.inProgress = false
      }, 800)
    }
  }

}
</script>
<style lang="scss" scoped>
.image-overlay {
  &__add-card {
    width: 100%;
    height: 100%;
  }
}
</style>
