<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-card no-body>
    <b-tabs card>
      <b-tab :title="$t('overlay.hymn-overlay.title')">
        <b-card-text>
          <hymn-overlay />
        </b-card-text>
      </b-tab>
      <b-tab :title="$t('overlay.text-overlay.title')">
        <b-card-text>
          <text-overlay />
        </b-card-text>
      </b-tab>
      <b-tab :title="$t('overlay.image-overlay.title')">
        <b-card-text>
          <image-overlay />
        </b-card-text>
      </b-tab>
    </b-tabs>
  </b-card>
</template>

<script>
import HymnOverlay from '@/components/overlays/HymnOverlay.vue'
import TextOverlay from '@/components/overlays/TextOverlay.vue'
import ImageOverlay from '@/components/overlays/ImageOverlay.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'OverlayControl',
  components: {
    HymnOverlay, TextOverlay, ImageOverlay
  },
  computed: {
    showTextOverlayFeature () {
      return this.getPreference('overlayTextTemplates', false)
    },
    ...mapGetters({
      getPreference: 'Preference/get'
    })
  }
}
</script>

<style>
.overlay-card {
  min-height: 8rem;
}
</style>
