<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <div
    id="text-overlay"
    class="overlay-card"
  >
    <b-overlay
      :show="inProgress"
      rounded="sm"
    >
      <validation-observer
        ref="observer"
        v-slot="{ handleSubmit }"
      >
        <b-form
          @submit.stop.prevent="handleSubmit(setTextOverlay)"
          @reset.stop.prevent="clearOverlay"
        >
          <b-row class="overlay-card--params">
            <b-col
              md="4"
              sm="12"
              class="px-1"
            >
              <validation-provider
                :name="$t('overlay.text-overlay.left-text.label')"
                :rules="{ max: 20 }"
                v-slot="validationContext"
              >
                <b-form-group :label="$t('overlay.text-overlay.left-text.label')">
                  <b-form-textarea
                    rows="2"
                    max-rows="3"
                    v-model="left"
                    placeholder="Dienstleiter"
                    :state="getValidationState(validationContext)"
                    aria-describedby="input-left-feedback"
                  />
                  <b-form-invalid-feedback id="input-left-feedback">
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
            <b-col
              md="8"
              sm="12"
              class="px-1"
            >
              <validation-provider
                :name="$t('overlay.text-overlay.right-text.label')"
                :rules="{ required: true, max: 120 }"
                v-slot="validationContext"
              >
                <b-form-group
                  :label="$t('overlay.text-overlay.right-text.label')"
                  label-class="required"
                >
                  <b-input-group>
                    <b-form-textarea
                      rows="2"
                      max-rows="3"
                      v-model="right"
                      placeholder="Ap. Paulus"
                      required
                      :state="getValidationState(validationContext)"
                      aria-describedby="input-right-feedback"
                    />
                    <b-button
                      v-if="showTextOverlayFeature"
                      @click="addTextTemplate()"
                      variant="outline-primary"
                      size="sm"
                      :title="$t('overlay.text-overlay.templates.add')"
                    >
                      <b-icon icon="bookmark-plus" />
                    </b-button>
                  </b-input-group>
                  <b-form-invalid-feedback id="input-right-feedback">
                    {{ validationContext.errors[0] }}
                  </b-form-invalid-feedback>
                </b-form-group>
              </validation-provider>
            </b-col>
          </b-row>
          <b-row class="my-3">
            <b-col class="p-1">
              <b-button-group>
                <b-button
                  :disabled="inProgress"
                  type="submit"
                >
                  {{ $t("overlay.fadein-button.text") }}
                </b-button>
                <b-button
                  :disabled="inProgress"
                  type="reset"
                >
                  {{ $t("overlay.fadeout-button.text") }}
                </b-button>
              </b-button-group>
            </b-col>
          </b-row>
          <template v-if="showTextOverlayFeature">
            <text-overlay-templates
              v-for="(item, index) in templateList"
              :key="index"
              :left="item.left"
              :right="item.right"
              :index="index"
              @removeTemplate="removeTemplate(index)"
              @selectTemplate="selectTemplate(index)"
            />
          </template>
        </b-form>
      </validation-observer>
    </b-overlay>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import overlayService from '@/services/overlay.service'
import TextOverlayTemplates from '@/components/overlays/TextOverlayTemplates.vue'

export default {
  name: 'TextOverlay',
  components: {
    TextOverlayTemplates
  },
  data () {
    return {
      left: '',
      right: '',
      inProgress: false
    }
  },
  mounted () {
    this.loadTemplates()
  },
  computed: {
    showTextOverlayFeature () {
      return this.getPreference('overlayTextTemplates', false)
    },
    ...mapGetters({
      templateList: 'Templates/templateList',
      getPreference: 'Preference/get'
    })
  },
  methods: {
    getValidationState ({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null
    },
    setTextOverlay () {
      if (this.right) {
        this.inProgress = true
        overlayService.setTextOverlay(this.left, this.right)
        this.progressDelay()
      } else {
        this.$bvToast.toast('Rechter Einblendtext fehlt.', {
          title: 'Einblendung',
          variant: 'warning',
          autoHideDelay: 3000,
          appendToast: true
        })
      }
    },
    clearOverlay () {
      this.inProgress = true
      overlayService.clearTextOverlay()
      this.progressDelay()
    },
    removeTemplate (index) {
      this.removeTemplate(index)
    },
    addTextTemplate () {
      console.log('addTextTemplate')
      if (this.right) {
        this.addTemplate({ right: this.right, left: this.left })
      }
    },
    selectTemplate (index) {
      this.left = this.templateList[index].left
      this.right = this.templateList[index].right
      this.setTextOverlay()
    },
    progressDelay () {
      setTimeout(() => {
        this.inProgress = false
      }, 800)
    },
    ...mapActions('Templates', ['loadTemplates', 'addTemplate', 'removeTemplate'])
  }

}
</script>
