<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
 -->
<template>
  <b-container class="about">
    <h1>{{ $t("about.title") }}</h1>
    <p>
      Visit: <a href="https://hai-end-streaming.de/" target="_blank">hai-end-streaming.de</a>
    </p>
  </b-container>
</template>
