<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
 -->
<template>
  <b-container
    class="home"
    fluid
  >
    <b-row>
      <b-col
        xs="12"
        sm="12"
        md="6"
        xl="4"
      >
        <b-card no-body>
          <b-tabs
            card
            lazy
          >
            <b-tab>
              <template #title>
                <b-icon icon="camera-reels" />
                {{ $t('home.tab.streaming.title') }}
              </template>
              <b-card-text>
                <streaming-controls />
                <overlay-control v-if="showOverlayFeature" />
              </b-card-text>
            </b-tab>
            <b-tab>
              <template #title>
                <b-icon icon="tv" />
                {{ $t('home.tab.receive.title') }}
              </template>
              <receive-controls />
            </b-tab>
          </b-tabs>
        </b-card>
      </b-col>
      <b-col
        xs="12"
        sm="12"
        md="6"
        xl="8"
      >
        <b-card>
          <stream />
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import StreamingControls from '@/components/actions/StreamingControls.vue'
import ReceiveControls from '@/components/actions/ReceiveControls.vue'
import { mapGetters } from 'vuex'

import Stream from '@/components/stream/Stream.vue'
import OverlayControl from '@/components/overlays/OverlayControl.vue'

export default {
  name: 'Home',
  components: {
    StreamingControls, Stream, OverlayControl, ReceiveControls
  },
  computed: {
    showOverlayFeature () {
      return this.getPreference('overlay', false)
    },
    ...mapGetters({
      getPreference: 'Preference/get'
    })
  }
}
</script>
