<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <b-navbar
    id="nav-bar"
    type="dark"
    variant="dark"
    fixed="top"
  >
    <b-container fluid>
      <b-navbar-brand
        to="/"
        :title="$t('navbar.title')"
      >
        <b-img
          class="d-none d-sm-inline-block align-top"
          src="/img/logo.png"
          height="30"
          alt="Logo"
        />
        {{ $t("navbar.title") }}
      </b-navbar-brand>

      <b-navbar-nav class="ml-auto">
        <b-nav-item
          to="/settings"
          :title="$t('settings.title')"
        >
          <b-icon
            icon="gear"
            aria-hidden="true"
          />
          <span class="d-none d-sm-inline ml-1">{{ $t("settings.title") }}</span>
        </b-nav-item>
        <b-nav-item
          to="/about"
          class="d-flex flex-row"
          :title="$t('about.title')"
        >
          <b-icon
            icon="question-circle-fill"
            aria-hidden="true"
          />
          <span class="d-none d-sm-inline ml-1">{{ $t("about.title") }}</span>
        </b-nav-item>
        <locale-switcher />
      </b-navbar-nav>
    </b-container>
  </b-navbar>
</template>

<script>
import LocaleSwitcher from '@/components/actions/LocaleSwitcher.vue'

export default {
  name: 'NavBar',
  components: {
    LocaleSwitcher
  }
}
</script>
<style>
#nav-bar {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--text-light);
}
</style>
