<!--
  SPDX-License-Identifier: AGPL-3.0-or-later
  Hai-End Streaming - Streaming Server Frontend
  Copyright (C) 2021 Stephan Strittmatter
-->
<template>
  <div
    id="status-bar"
    class="bg-dark text-white fixed-bottom"
  >
    <b-container
      class="my-1"
      fluid
    >
      <b-row>
        <b-col>
          <server-status-label />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import ServerStatusLabel from '@/components/stream/ServerStatusLabel.vue'

export default {
  name: 'StatusBar',
  components: {
    ServerStatusLabel
  }
}
</script>

<style>
#status-bar {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--text-light);
}
</style>
